<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Foodfy</title>
</head>
    <body>
        <header class="backgr_admin">
            <div id="flex">
                <a href="/"><img src="../assets/logoadmin.png" alt="Logo Foodfy"></a>
            </div>
        </header>
        
        <form class="create_recipe" method="POST" action="/admin">
            <div class="initial">
                <h1>Criando receita</h1>
                <button type="submit">Salvar receita</button>
            </div>
            <div class="form">
                <div class="text">Imagem da receita</div>
                <input type="text"
                name="avatar_url"
                value=""
                >
            </div>
            <div class="form">
                <div class="text">Ingredientes</div>
                <input type="text"
                name="recipes[]"
                value=""
                >
                <div class="add">
                    <a href="http://">
                    Adicionar novo ingrediente
                    </a>
                </div>
            </div>
            <div class="form">
                <div class="text">Modo de preparo</div>
                <input type="text"
                name="create"
                value=""
                >
                <div class="add">
                    <a href="http://">
                    Adicionar novo passo
                    </a>
                </div>
            </div>
            <div class="form input_adic">
                <div class="text">Informações adicionais</div>
                <input type="text"
                name="information"
                value=""
                >
            </div>
        </div>
        <script src="/scripts.js"></script>
    </body>
</html>