<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Foodfy</title>
</head>
    <body>
        <header class="backgr_admin">
            <div id="flex">
                <a href="/"><img src="../assets/logoadmin.png" alt="Logo Foodfy"></a>
            </div>
        </header>
        
        <form class="create_recipe" method="POST" action="/admin">
            <div class="initial">
                <h1>Criando receita</h1>
                <button type="submit">Salvar receita</button>
            </div>
            <div class="form">
                <div class="text">Imagem da receita</div>
                <input type="text"
                name="avatar_url"
                value=""
                >
            </div>
            <div class="item">
                <h4>Ingredientes</h4>
            <div id="ingredients">
                <div class="ingredient">
                    <input type="text" name="ingredients" placeholder="Ingrediente" value=" ingredient">
                </div>
            </div>
            <button type="button" class="add-ingredient">Adicionar novo ingrediente</button>
            </div>
            <div class="item">
                <h4>Modo de preparo</h4>
            <div id="ingredients" >
                <div class="ingredient">
                    <input type="text" name="ingredients" value=" ingredient">
                </div>
            </div>
            <button type="button" class="add-ingredient">Adicionar novo passo</button>
            <div class="form input_adic">
                <div class="text">Informações adicionais</div>
                <input type="text"
                name="information"
                value=""
                >
            </div>
        </div>
        <script>
            function addIngredient() {
            const ingredients = document.querySelector("#ingredients");
            const fieldContainer = document.querySelectorAll(".ingredient");

            // Realiza um clone do último ingrediente adicionado
            const newField = fieldContainer[fieldContainer.length - 1].cloneNode(true);

            // Não adiciona um novo input se o último tem um valor vazio
            if (newField.children[0].value == "") return false;

            // Deixa o valor do input vazio
            newField.children[0].value = "";
            ingredients.appendChild(newField);
            }

            document
            .querySelector(".add-ingredient")
            .addEventListener("click", addIngredient);
        </script>
    </body>
</html>