<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body>
        <header>
            <div id="flex">
                <a href="/"><img src="assets/logo.png" alt=""></a>
            </div>
            <div id="flex" class="list">
                <a href="/about">Sobre</a>
                <a href="/recipes">Receitas</a>   
            </div>
        </header>
        {% block content %}

        {% endblock %}
    <footer>
        <div class="text_footer">Todos direitos reservados, receitas Foodfy</div>
    </footer>
        <script src="/scripts.js"></script>
    </body>
</html>