{% extends "layout.njk" %}
{%block content%}

    <article class="card">

        <div class="cards_" id="{{recipe.id}}">
            <div class="cards_image recipe" >
                <img src="{{recipe.image}} " alt="">
            </div>
            <div class="title_author">
                <h1 class="title_recipe">{{recipe.title}}</h1>
                <p class="author_recipe">{{recipe.author}}</p>
            </div>
            <div class="mostrar">
                <div class="ingredients">
                    <h2>Ingredientes</h2>             
                </div>
                <div class="show_button">
                    <button type="button" class="collapsible">ESCONDER</button> 
                </div>
            </div>
            <div class="information">
                <ul>       
                    {% for ingredients in recipe.ingredients%}    
                    <li>{{ingredients}}</li>
                    {% endfor %}
                </ul>
            </div>
             <div class="mostrar">
                <div class="ingredients">
                    <h2>Modo de Preparo</h2>             
                </div>
                <div class="show_button">
                    <button type="button" class="collapsible">ESCONDER</button> 
                </div>
            </div>
            <div class="information">
                <span>{{recipe.preparation}}</span>
            </div>
            
            <div class="mostrar">
                <div class="ingredients">
                    <h2>Informações adicionais</h2>             
                </div>
                <div class="">
                    <button type="button" class="collapsible">ESCONDER</button> 
                </div>
            </div>
            <div class="information">
                <span>{{recipe.information}}</span>
            </div>
        </div>
        

    </article>

{% endblock content%}