@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}

#flex {
    display: inline-flex;
}
header img {
   padding:20px 0px 0px 300px;


}
.list {
    position: absolute;
    padding-top:25px;

}
.list {
    text-align: center;
    padding-left: 200px;
    text-decoration:none;

}
.list a{
    color: #111111 ;
    text-align: center;
    text-decoration:none;
    padding-right: 25px;

}
.list a:hover {
    color: #FBDFDB;
}
 /* === CONTAINER === */


.container {
    display: flex;
    width: 940px;
    height: 366px;
    background: #FBDFDB;
    border-radius: 30px;
    border-radius: 30px;
    margin-left: 300px;
    margin-top: 20px;
}

.container .text {
    display: grid;
    position: relative;
}
.container .text h1{
    padding-top: 100px;
    padding-left: 50px;
    padding-bottom: 10px;
    font-size: 32px;
    color: #111111;
}
.container .text p {
    height: 200px;
    padding-left: 50px;
    opacity: 0.7;
    font-family: Roboto-Regular;
    font-size: 16px;
    color: #000000;
    line-height: 28px;
}
.chefimg img{ 
    position: absolute;
    padding-top: 65px;
    padding-left: 180px;
    width: 216px;
    height: 300px;
}
 
/* === POSTS === */
.titleposts h1{
    font-family: Roboto-Regular;
    padding-top: 50px;
    padding-left: 300px;
    padding-bottom: 20px;
    font-size: 24px;
    color: #111111;
}
article {
    max-width: 940px;
    margin-left: 300px;
}
.card {
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 23px;
}
.cards_image img{
    width: 300px;
    height: 140px;
    border-radius: 15px;
    cursor: pointer;
}
.cards h2 {
    font-family: Roboto-Regular;
    padding-top: 20px;
    font-size: 15px;
    color: #111111;
    cursor: pointer;
}
.cards p {
    padding-top: 5px;
    font-family: Roboto-Regular;
    font-size: 10px;
    color: #777777;
    cursor: pointer;
}

/* === FOOTER === */

footer {
    height:62px;
    background: #EEEEEE;
    margin-top: 50px;
}
footer .text_footer {
    padding-top: 25px;
    font-size: 14px;
    color: #999999;
    text-align: center;
}
 /* === ABOUT PAGE === */
 .title_foodfy {
    font-family: Roboto;
    font-size: 15px;
    color: #111111;

    padding-top: 70px;
 }
 .text_about {
     text-align: justify;
     padding-top: 30px;
     font-family: Roboto;
     font-size: 18px;
     color: #444444;
     line-height: 28px;
 }

 /* === recipe === */
#recipe_article {
     padding-top: 50px;
 }

/* === MODAL === */
.modal-overlay {
    position: absolute;
    margin-left: 550px !important; 
    margin-top: 100px !important;
    background-color: white;
    width: 500px;
    height: 320px;
    margin: 5vh ;
    position: fixed;
    top: 0px;
    border-radius: 20px;
    opacity: 0;
    visibility: hidden;
}
.img_modal {
    padding-top: 50px;
    text-align: center;
    border-radius: 15px;
}
iframe {
    overflow: hidden !important;
}

.img_modal iframe{
    height: 150px;

}
.modal_title h1{
    font-family: Roboto-Regular;
    font-size: 24px;
    color: #111111;
    text-align: center;
}
.modal_text p {
    padding-top: 10px;
    font-family: Roboto;
    text-align: center;
    opacity: 0.5;
}
a{
    text-decoration: none;
}
.modal-close p {
    font-size: 5px;
    padding-top: 90px;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    color: #999999;
}
.modal-overlay.active {
   opacity: 1;
   visibility: visible; 
   text-align: center;
}
.modal_close {
    font-size: 10px;
    padding-top: 40px;
}
.cards_image.recipe img {
    margin-top: 80px;
    width: 940px;
    height: 280px;
}
.title_author {
    text-align: center;
    padding-top: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.title_author h1{
    font-size: 36px;
    color: #111111;
    font-family: Roboto-Bold;
}
.author_recipe{
    font-family: Roboto-Regular;
    font-size: 20px !important;
    color: #777777 !important;
}
.mostrar {
    display: flex;
    align-items: baseline;
}
.ingredients{
    box-sizing: border-box;
    position: relative;
    padding-right: 15px;
}
.ingredients h2{
    font-size: 24px;
    color: #111111;
}
.ingredients p {
    font-size: 12px;
    color: #999999;
}
.list_ingred  {
    padding-top: 30px;
}
.list_ingred li {
    font-family: Roboto-Regular;
    font-size: 18px;
    color: #444444;
    line-height: 28px;
}
.information p{
    font-family: Roboto-Regular;
    font-size: 18px;
    color: #444444;
    line-height: 28px;
}

/* === SHOW BUTTON === */


button #meu_botao {
    visibility: hidden;
}
.information.hidden{
    visibility: hidden;
    margin-bottom: -40px;
}